html{
    scroll-behavior: smooth;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    height:100%;
}
#menu{
    height:10%;
    width:100%;
    background-color: #f4f4f4;
    position: fixed;
    z-index: 5;
    /* border-bottom: 2px solid #129fe8; */
}
#navegacao{
    width:90%;
    height: 100%;
    float: left;
}
.nav-item{
    float:left;
    text-decoration: none;
    font-size: 14px;
}
#btnLogin{
    height:35px;
    width:100%;
    background-color: #ce4257;
    border:none;
    border-radius: 2px;
    color:white;
    font-size: 14px;
    
}
#navegacao{
    float: left;
    height:100%;
    width:94;
}
a{
    color:rgb(109, 107, 107);
    text-decoration: none;
}
a:hover{
    border-bottom: 2px solid #ce4257;
}
li{
    margin-right: 3%;
    margin-top:1%;
}
#item1{
    margin-top:1%;
    margin-left: 50%;
}
#item1, #item2, #item3, #item4{
    margin-top:2%;
}
.header{
    height:600px;
    width:100%;
    background-color:#fcfcfb;
    background-size: cover;
    display:flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
}
#gif-banner{
    height: 75%;
    float: right;
    margin-left: 15%;
}
#box-header{
    height:20%;
    width:30%;
    color:#ce4257;
    text-align: left;
    margin-left: 5%;
    margin-top: 5%;
}
#box-header h2{
    font-size: 30px;
    -webkit-text-stroke-width: 1px;  /* largura da borda */
    -webkit-text-stroke-color: #ce4257;
    font-family: cursive;
    transition: all 1s ease-in-out;
    text-transform:initial;
}
#box-header h4{
    font-size: 25px;
    border-width: thin;
    color:#2e2d2d;
    font-family: cursive;
}
#box-header a{
    text-decoration: none;
}
#btn-sobre{
    height:32%;
    width:30%;
    background-color: #ce4257;
    border-radius: 3px;
    color:white;
    border: #ce4257;
    margin-top:5%;
    margin-left:55%;
}
#btn-sobre:hover{
    border:1px solid #ce4257;
    background-color: #fcfcfb;
    color:#ce4257;
}
#sobre{
    width:100%;
    height:470px;
    background-color: #f4f4f4;
    display:flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.container{
    height:100%;
    width:85%;
}


#group-sobre{
    height: 250px;
    width:100%;
    justify-content: center;
    flex-direction: row;
    display:flex;
    align-items: center;
}
.icons-sobre{
    height:100%;
    width:32%;
    margin-right: 2%;
    border: 1px solid #e6e4e4;
    border-radius: 1px;
}
.icons-sobre img{
    margin-left: 40%;
}
.icons-sobre h1{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.icons-sobre h2{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align:center;
}
.icons-sobre p{
    text-align:center; 
}
#div-funciona{
    height:500px;
    width:100%;
}
#div-funciona h1{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.card-funciona{
    height:210px;
    width:48%;
    float:left;
}
#card1{
    margin-right:2%;
    border-bottom:2px solid #ce4257;
}
#card2{
    border-bottom:2px solid #ce4257;
}
#card3{
    margin-right:2%;
}
#card4{
    
}
.card-text{
    height: 100%;
    width:60%;
    float:left;
}
.card-text span {
    font-size:30px;
}
.card-text p{
    font-size:18px; 
    text-align: center;
}
.card-icon{
    height: 100%;
    width:40%;
    float:left;
    justify-content: center;
    flex-direction: row;
    display:flex;
    align-items: center;
}
#apresentacao{
    height:500px;
    width:100%;
    justify-content: center;
    flex-direction: row;
    display:flex;
    align-items: center;
}
h1{
    color:black;
    font-size: 26px;
    text-align: center;
}
span{
    color:#ce4257;
    font-size: 25px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ce4257;
}
#div_video{
    height:100%;
    width:60%;
    float: left;
}
#text{
    height:100%;
    width:39%;
    float: left; 
}
.container2{
    height:90%;
    width:85%;
    /* background-color: black; */
}
h3{
    color:#ce4257;
    font-size: 22px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ce4257;
}
p{
    font-size: 17px;
    color:#2e2d2d;
}
#playlist{
    height:500px;
    width:100%;
    justify-content: center;
    flex-direction: row;
    display:flex;
    align-items: center;
}
#container3{
    height:100%;
    width:80%;
}
.play{
    height:85%;
    width:30%;
    float:left;
}
#play1, #play2{ 
    margin-right:4%;
}
/* .btn-play{
    border:none;
    border-radius:4px;
    background-color:#2e2d2d;
    color:white;
    height:100%;
    width:10%;
}
#group-btn{
    width:100%;
    height:10%;
    display: flex;
    justify-content: space-between;
} */
.btn-play:hover{
    background-color:#202020;
    font-size:17px;
}
#btnPlay{
    background-color: #ce4257;
    border:1px solid #ce4257;
    border-radius: 3px;
}
.play h4{
    color:rgb(141, 140, 140);
    float:left;
    font-size:40px;
    margin-right: 3%;
}
.play h6{
    font-size: 22px;
    color:rgb(87, 87, 87);
}
.top-number p{
    color:rgb(87, 87, 87);
}
.top-number{
    width:100%;
    height:20%;
    margin-bottom: 3%;
}
.top-number:hover{
    background-color: #f4f4f4;
    text-decoration: #ce4257;
    border-radius: 3px;
}
.top-number:hover {
    background-color: #f4f4f4;
    color: #ce4257;
}

#top-number1{
    /* background-color: lightcoral; */
}
#top-number2{
    /* background-color:lightskyblue; */
}
#top-number3{
    /* background-color: lightseagreen; */
}
.top-cinco{
    width:100%;
    height:20%;
}
/* #top-cinco1{
    background-color: pink;
}
#top-cinco2{
    background-color: plum;
}
#top-cinco3{
    background-color: powderblue;
}
#top-cinco4{
    background-color: lightseagreen;
}
#top-cinco5{
    background-color: lightsalmon;
} */
.circulo{
    width:25%;
    height:80%;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    transition: 0.3s ease;
    float:left;
}
.circulo:hover{
    transform:rotateY(180deg);
}
#circulo1{
    background: url(../img/caetano.jpg)center no-repeat;
    background-size: cover;
}
#circulo2{
    background: url(../img/djavan.jpg)center no-repeat;
    background-size: cover;
}
#circulo3{
    background: url(../img/Hillsong.png)center no-repeat;
    background-size: cover;
}
#circulo4{
    background: url(../img/cx.png)center no-repeat;
    background-size: cover;
}
#circulo5{
    background: url(../img/disney.jpg)center no-repeat;
    background-size: cover;
}
.top-text{
    float:left;
    margin-left: 4%;
    margin-top:5%;
}
.top-text h6{
    font-size:20px;
    color:#ce4257;
}
.top-text p{
    font-size:17px;
    color:rgb(87,87,87);
}
footer{
    margin-top:8%;
    width:100%;
    height:100px;
    background-color: #202020;
    font-size:16px;
    /* text-align: center; */
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
footer p{
    color:#f4f4f4;
}
#logo{
    height:100%;
    width:8%;
    background:url(../img/BC2.png) center no-repeat;
    background-size: cover;
    float: left;
    margin-left: 2%;
}

/* MODAL */
.modal {
    display: none;
}
.modal:target {
    display: flex;
}
.modal {
    text-align: left;
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
}
     
.modal:target {
    justify-content: space-around;
    align-items: center;
}
     
.modal_overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    cursor: default;
}
     
.modal_content {
    width:30%;
    height:80%;
    position: relative;
    background-color: white;
    padding: 2rem;
    overflow: scroll;
}
     
.modal_close {
    color: darkred;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0.5rem;
    display: inline-block;
    font-size:24px;
}
#modal-body{
    border-top: 1px solid #f4f4f4;
    height:80%;
}
#modal-body h4{
    font-size:22px;
    color:#ce4257;
}
#modal-body h6{
    font-size:18px;
    color:rgb(88,88,88);
}
#modal-conteudo1{
    width:44%;
    float:left;
    padding-right: 5%;
    border-right: 1px solid #f4f4f4;
    /* background-color: palegoldenrod; */
}
#modal-conteudo2{
    padding-left: 5%;
    width:44%;
    float:left;
    /* background-color:plum; */
}